#root {
  background-color: black;
}
.nav {
  display: flex;
  align-items: center;
}
.nav img {
  width: 100px;
  height: 55px;
}
.nav a {
  color: white;
}
.nav a.active {
  font-weight: bold;
}

.poster {
  /* width: 300px; */
  height: 200px;
  /* overflow: hidden; */
  /* object-fit: cover; */
}
